/*Tamanho padrão para tablets*/
@media only screen and (max-width: 768px) {
	.header-black ul {
		display: none;
	}
}
/*Tamanho padrão para smartphones*/
@media only screen and (max-width: 480px) {
	.header-black ul, #menu{
		display: none;
	}
	header #logotipo {
		left: 32%;
		z-index: 10;
		transition: 1s;
	}
	header.open-menu #logotipo {
		transform: rotate(360deg);
	}
	#btn-bars, #btn-search {
		color: #fff;
		font-size: 22px;
		position: absolute;
		top: 4px;
		background: none;
		border: none;
		display: block;
	}
	#btn-bars {
		left: 4px;
	}
	#btn-search {
		right: 4px;
	}
	#banner {
		height: 317px;
		background-size: cover;
		background-position: 0;
		text-align: center;
	}
	#banner h1 {
		top: 180px;
		font-size: 48px;
		margin-left: 0;
	}
	#banner h1 small {
		font-size: 22px;
	}
	#news h2 {
		font-size: 32px;
	}
	#news hr {
		border-width: 4px;
	}
	.owl-carousel .owl-wrapper-outer {
		margin-left: 15px;
	}
	.thumbnails {
		text-align: center;
	}
	#news .thumbnails .item-inner img {
		width: 80%;
	}
	#btn-news-prev, #btn-news-next {
		background: none;
		border: none;
		color: #5E2699;
		font-size: 48px;
		display: block;
		position: absolute;
		top:130px;
		z-index: 1;
		outline: 0;
	}
	#btn-news-next {
		right: 15px;
	}
	#estatisticas {
		height: inherit;
	}
	#estatisticas p {
		margin-bottom: 40px;
		margin-top: 40px;
	}
	#call-to-action {
		margin-top: 69px;
	}
	#call-to-action hr {
		border-width: 4px;
	}
	#call-to-action p {
		margin-top: 40px;
		margin-bottom: 40px;
		margin-left: 15px;
		margin-right: 15px;
	}
	#call-to-action h2 {
		font-size: 32px;
		margin-left: 10px;
		margin-right: 10px;
	}
	#call-to-action .btn {
		min-width: 138px;
	}
	#call-to-action .btn-roxo {
		float: left;
	}
	#call-to-action .btn-amarelo {
		float: right;
	}
	#call-to-action .col-xs-6 {
		padding: 0;
	}
	footer {
		margin-top: 60px;
	}
	.copyright-mobile p {
		font-size: 10px;
		line-height: 0;
	}
	.copyright-mobile .pull-left {
		float: inherit!important;
	}
	footer .row p {
		text-align: center;
		line-height: 20px;
	}
	footer .row p:first-child {
		margin-top: 10px;
	}
	footer .text-roxo {
		margin-right: 10px;
	}
	footer .row {
		margin: 0;
	}
	footer .list-socials {
		position: absolute;
		width: 100%;
		left: 0;
		top: 50px;
	}
	footer .col-md-10 {
		padding: 0;
	}
	footer .list-socials a {
		width: 45px;
		height: 45px;
		border-radius: 50%;
	}
	footer .list-socials i {
		font-size: 30px;
	}
	footer .row-cinza-claro {
		height: 157px;
	}
	footer .btn-footer {
		width: 100%;
		background-color: #11171D;
		height: 44px;
		line-height: 35px;
	}
	footer .col-xs-6 {
		padding: 0;
		padding-right: 5px;
	}
	footer .col-xs-6:last-child {
		padding-right: 0;
		padding-left: 5px;
	}
	footer .hidden-sm-up {
		margin-top: -10px;
	}
	header .header-black {
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 9;
	}
	footer .page-up {
		display: inline-block!important;
	}
	header #menu-mobile {
		position: fixed;
		top: 40px;
		background-color: #fff;
		width: 80%;
		height: 100%;
		left:-80%;
		transition: 1s;
		z-index: 5;
	}
	header.open-menu #menu-mobile {
		left: 0;
	}
	header.open-menu #menu-mobile-mask {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: rgba(0,0,0,.5);
		z-index: 4;
	}
	header.open-menu #logotipo {
		position: fixed;
		top: 50px;
		height: 76px;
		left: calc(40% - 33px);
	}
	header.open-menu #menu-mobile ul {
		margin: 20px;
		margin-top: 100px;
	}
	header.open-menu #menu-mobile li {
		text-align: center;
		border-top: #CCC 1px solid;
	}
	header.open-menu #menu-mobile li:last-child {
		border-bottom: #CCC 1px solid;
	}
	header.open-menu #menu-mobile li a {
		color: #633392;
		font-family: 'OpenSans';
		font-weight: bold;
		font-size: 16px;
		padding: 18px;
    	display: block;
	}
	header.open-menu .bar-close {
		position: absolute;
		bottom: 40px;
		background-color: #633492;
		height: 40px;
		width: 100%;
	}
	header.open-menu .bar-close .btn-close {
		background:none;
		border: none;
		color: #fff;
		font-size: 22px;
	}
	header #input-search-mobile {
		transition: 1s;
		top: -40px;
		position: fixed;
		width: 70%;
		left: 15%;
		background-color: #000;
		border: none;
		height: 40px;
		color: #fff;
		outline: 0;
	}
	header.open-search #input-search-mobile {
		top: 0;
	}
	header.open-search #logotipo {
		z-index: 9;
	}
}